*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
h2{
	font-size: 40px;
}
table{
	letter-spacing: 1.2px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td,tr{
	text-align: center;
    font-size: larger;
}
button{
	border:none;
	background: #d9d9d9;
    transition: 1s;
}
table{
    border: 1px solid black;
  }
  th {
    height: 50px;
    vertical-align: middle;
    font-size:x-large;
    background-color: rgb(106, 111, 114);
  }
  tr:hover {background-color: yellow;}

  tr:nth-child(even) {background-color: rgb(168, 165, 165);}
  tr:nth-child(odd) {background-color: rgb(238, 234, 234);}

  /* tr:nth-child(odd) {background-color: rgb(63, 59, 59);} */

@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}